/* 
Página Web

Roni Athayde
22/02/2002
*/

/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    /*  ===== Colors =====  */

    --body-color: #E4E9F7 ;
    --sidebar-color: #FFF ;
    --primary-color: #695CFE ;
    --primay-color-light: #F6F5FF ;
    --toggle-color: #DDD ; 
    --title-color: #000;
    --text-color: #707070 ;
    --content: #1d1d1d;
    --main-bg-color: #fff;
    --scroll-bg: #695CFE;
    --scroll: #ddd;
    --bgprl: #695cfe42;
    --header-sticky: #695cfee1;
    --header-content: #fff;


    /* ===== Transition =====  */

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;

}

/* ====== Scroll bar edit ===== */

html{
    scroll-behavior: smooth;
    scroll-padding-top: 35px;
    height: 100%;
   
}
::-webkit-scrollbar{
    width: 10px;
    background-color: var(--scroll);
}

::-webkit-scrollbar-thumb{

    border-radius: 8px;
    background-color: var(--scroll-bg);
}

body{

    background: var(--body-color);
    transition: var(--tran-04);
    background-image: url(/Ferramentas/Imagens/parallaximage.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-blend-mode:lighten;
    background-color: var(--bgprl);

    
}
body.dark{
    --body-color: #18191A ;
    --sidebar-color: #242526 ;
    --primary-color: #3A3B3C ;
    --primay-color-light: #3A3B3C ;
    --toggle-color: #FFF ; 
    --text-color: #CCC ;
    --content: #575757;
    --main-bg-color: #18191A;
    --title-color: #d6d6d6;
    --scroll-bg: #18191A;
    --scroll: #ddd;
    --header-sticky: #3a3b3cde;
    --header-content: #FFF;
    --bgprl: #0f0c2ee1;
}


/* ===== Sidebar ====== */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 30;
}

.sidebar.close{
    width: 88px;
}

/* ===== Resuable CSS ====== */
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;

}
.sidebar .image-text .nav-link{
    margin-top: 0 !important;
}

.sidebar.close .text{
    opacity: 0;
    visibility: hidden;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon,
    .postct_imgct .icon,
        .notification-iconct .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;

}

.sidebar li .icon,
 .sidebar li .text,
  .midias .icon,
    .ct-msg__ct-image .icon{
    color: var(--text-color);
    transition: var(--tran-02);   
}
.midias{
    position: fixed;
    right: 150px;
    bottom: 100px;
    border-radius: 50%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    width: 50px;
    margin-top: 50px;
    align-items: center;  
}


.midias a{

    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
   
    
}


.midias .open-midias{
    margin-top: 5px;
    z-index: 65;
    background: var(--primary-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    
}

.midias .open-midias i{
    color: var(--scroll);
}


.midias a:nth-child(1){
    transition: all 0.8s ease-in-out;
    
}
.midias a:nth-child(2){
    transition: all 0.6s ease-in-out;

}
.midias a:nth-child(3){
    transition: all 0.4s ease-in-out;

}
.midias a:nth-child(4){
    transition: all 0.2s ease-in-out;

}


.midias .icon{
    font-size: 25px ;
    transition:  var(--tran-02); 
}

.sidebar header{
    position: relative;

}

.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;

}

.sidebar header .image-text{
    display: flex;
    align-items: center;

}

header .image-text .header-text{
    display: flex;
    flex-direction: column;

}

.header-text .name{
    font-weight: 600;


}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--toggle-color);
    font-size: 22px;
    transition: var(--tran-03);
    cursor: pointer;
    
}

.sidebar.close header .toggle{
    transform: translateY(-60%);
}






.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04) ;
}

.sidebar li a:not(.not-hover):hover,
    .midias a:hover{
    background: var(--primary-color);
}

.sidebar li a:not(.not-hover):hover .icon,
    .sidebar li a:hover .text,
        .midias a:hover .icon{
    color: var(--primay-color-light);
}

body.dark .sidebar li a:not(.not-hover):hover .icon,
    body.dark .sidebar li a:hover .text,
        body.dark .midias a:hover .icon{
    color: var(--text-color);
}



.sidebar .menu-bar{

    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primay-color-light);
}
.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;

}
.menu-bar .mode i{
    position: absolute;
    transition: var(--tran-03);

}

.menu-bar .mode i.sun{
    opacity: 0;
}

body.dark .menu-bar .mode i.sun{
    opacity: 1;
}

body.dark .menu-bar .mode i.moon{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    border-radius: 6px;
    cursor: pointer;
    background-color:var(--primay-color-light) ;


}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px ;
    background: var(--toggle-color);
}
.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03) ;

}




/* ====== transition dark mode  */
body.dark .switch::before{
    left: 24px;
}

.main-ct{
    width: 60%;
    position: relative;
    display:flex;

}

/*  ======== main content ======== */
.father{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  
}
.main-content{
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    min-width: 200px;

    box-shadow:0 2px 18px 0 rgba(0,0,0,.3) ;
    background-color: var(--main-bg-color);
}

.main-content__wp{
    padding: 50px;
}



/* HOME CONTENT*/
.home-content{
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--header-sticky);
    padding: 2px 2px 0 30px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-between;
    z-index: 50;

}

.home-content__title{
    font-size: 20px;
    font-weight: 900;
    display: block;
    color: var(--header-content);
    cursor: pointer;
    text-decoration: none;
    
}

.home-content__title:hover::before{
    content: '#';
    display: inline;
    
}

.main-content--text{
    color: var(--content);
    font-weight: 300;
    letter-spacing: 1.7px;
}

.main-content__wp article{
    margin-bottom: 30px;
}

.title-article-nav{
    font-size: 30px;
    text-decoration: none;
    color: var(--title-color);
    margin-bottom: 5px;
    
}

.home_nav2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    align-items: center;


}

.home_nav2-content{
    font-size: 13px;
    text-decoration: none;
    color: var(--header-content);
}

/* ================================================================================= PAGE 'COMUNIDADE'=============================================================================== */


/* =============== SEÇÃO 'ESCREVA SUA MENSAGEM' ================ */
.ct-msg{
    width: 100%;
    display: flex;
    padding: 0 16px 0 16px;

    flex-direction: row ;
}
.ct-msg__ct-image{
    width: 48px;
    margin-right: 5px;
}

.ct-msg__ct-image .icon{
    font-size: 30px;
    cursor: pointer;

}

.ct-msg__ct-image i{
    cursor: pointer;
}

.ct-msg__ct-msgwp{
    width: 100%;
}

.ct-msg__ct-msgwp textarea{
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    font-size: 30px;
    background-color: var(--main-bg-color);
}

.ct-msgwp__btnwp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.ct-msg__ct-msgwp input[type="file"]{
    display: none;

    margin: 10px;
}

.ct-msg__ct-msgwp label{
    background-color: var(--primary-color);
    border-radius: 30px ;
    padding: 5px 15px 5px 15px;
    color: white;
    cursor: pointer;
    transition: var(--tran-04) ;
}

.ct-msg__ct-msgwp button{
    padding: 5px 15px 5px 15px;
    border: none;
    border-radius: 30px ;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 18px 0 rgb(0 0 0 / 30%);
    transition: var(--tran-05) ;
}

.ct-msg__ct-msgwp label:hover,
 .ct-msg__ct-msgwp button:hover{
    transform: translateY(-5px);
 }


/* =================== SEÇÃO DE POSTAGENS ================== */
.postct{
    border-top: 1px solid var(--text-color);
    margin-top: 20px;
    width: 100%;
    display: flex;
    padding: 15px 5px 10px 5px;
}

.postct_imgct{
    display: flex;
    align-items: center;
    justify-content: center;
}
.postct_imgct .icon{
    cursor: pointer;
}

.postct_postwp{
    width: 100%;
}

.postct_postwp--nick{
    color: var(--content);
}

.postct_postwp--content{
    color: var(--content);
}

.postct_postwp_iconsct{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
}
.postct_postwp_iconsct--wp{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}


.postct_postwp_iconsct--wp-icon{
    min-width: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.postct_postwp_iconsct--wp-icon:hover{
    background: var(--primary-color);
    color: var(--sidebar-color);
    
}

.postct_postwp_iconsct--wp-icon .icon,
    .postct_imgct .icon{
    color: var(--text-color);
    transition: var(--tran-02);
}

.postct_postwp_iconsct--wp-icon:hover .icon{
    color: var(--sidebar-color);
}

.postct_postwp_iconsct--wp span{
    font-size: 15px;
    color: var(--text-color);
}

.postct_postwp_iconsct--wp:hover span{
    text-shadow: 0 0 0.2em var(--primary-color), 0 0 0.2em var(--primary-color),
        0 0 0.2em var(--primary-color);
}


/* ============================= ASIDE MORE INFOS ===============================*/

/* .more-info{
    position: fixed;
    top: 50px;
    right: 215px;

} */

.happeningct{
    width: 100%;
    max-width: 400px;
    margin: 0 10px;
    background: var(--main-bg-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow:0 2px 18px 0 rgb(0 0 0 / 30%);
}
.happeningct h2{
    margin-bottom:15px;
    color: var(--content);
}

.happening_wp{
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    cursor: pointer;
    transition: var(--tran-05);
}
.happening_wp:hover{
    background-color: rgb(173, 173, 173);    
}

.happening_wp__titlect--title{
    font-weight: 500;
    font-size: 13px;
    color: var(--content);
}

.happening_wp__contentct{
    width: 90%;
    margin-bottom:5px;

}

.happening_wp__contentct--content{
    color: var(--content);

}

.happening_wp__categoryct{
    margin-bottom: 5px;
}

.happening_wp__categoryct--category{
    color: var(--content);
}

@media screen and (max-width: 1310px) {
    .more-info{
        display: none;
    }

}

@media screen and (max-width: 1310px) {
    .more-info{
        display: none;
    }

}

/* ======================================== LOGIN ========================================*/
button{
    cursor: pointer;
}

.loginct{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.loginct-wp{
    padding: 50px 10px;
    width: 100%;
    max-width: 500px;
    background-color: var(--main-bg-color) ;
    border-radius: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 20px var(--scroll-bg);

}

.loginct-wp_closect{
    display: flex;
    justify-content: left;
    padding: 5px 0;
    position: absolute;
    top: 15px;
    left: 10px;
    cursor: pointer;
    
}

.loginct-wp_closect a{
    color: black;
    text-decoration: none;
}

.loginct-wp_iconct{
    display: flex;
    justify-content: center;
}


.loginct-wp_iconct .icon{
        color: var(--primary-color);
}

.loginct-wp_dices{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-login{
    font-size: 31px;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.options-loginct{
    display: flex;
    flex-direction: column;
}

.options-loginct--btn{
    display: flex;
    border-radius: 20px;
    padding: 6px 42px;
    font-size: 14px;
    margin-bottom: 10px;
    outline: none;
    border: 0.5px solid #bebebe;
}

.bxl-google{
    color:#1d9bf0;
}

.options-loginct--btn .icon,
    .loginct-wp_closect .icon,
        .loginct-wp_iconct .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.login-or{
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-login{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.form-login input{
    padding: 8px 10px ;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #bebebe;
    margin-bottom: 10px;
}

.login-sumitct{
    display: flex;
    flex-direction: column;
}

.login-sumitct--next{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: 6px 62px;
    font-size: 14px;
    margin-bottom: 10px;
    outline: none;
    border: 0.5px solid #bebebe;
}

.login-sumitct--forgot{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 6px 62px;
    font-size: 14px;
    margin-bottom: 10px;
    outline: none;
    border: 0.5px solid #bebebe;
}

.login-sumitct--inscribe{
    color: #333;
}


/* ====================== NOTIFICAÇÕES ============================= */

.notifications-items{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px 10px;
    cursor: pointer;
    transition: var(--tran-0) ;
}

.notifications-items:hover{
    background-color: rgba(0, 0, 0, 0.119);    
}

.dark .notifications-items:hover{
    background-color: rgba(255, 255, 255, 0.03);    
}

.notification-iconct .icon,
    .not-infoct_imgwp .icon{
    color: var(--text-color);
    transition: var(--tran-02);
    font-size: 20px;
}

.notification-iconct .icon:hover{
    text-shadow: 0 0 0.2em var(--primary-color), 0 0 0.2em var(--primary-color),
        0 0 0.2em var(--primary-color);
}



.not-infoct_categoryct--category{
    font-size: 15px;
    color: var(--content);
}

.not-infoct_abstractct{
    margin-top: 10px;
}
.not-infoct_abstractct--abstract{
    font-size: 14px;
    color: var(--content);
}


/* ====================== MENSAGENS ============================= */

.msgct{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 5px 10px;
    cursor: pointer;
    transition: var(--tran-03);
    margin-top: 5px;

}

.msgct:hover{
    background-color: rgba(0, 0, 0, 0.119);    
}

.msgct-wrapper{
    display: flex;
    flex-direction: row;
}

.msgct__imagect .icon,
    .msgct__morect .icon{
    color: var(--text-color);
    transition: var(--tran-02);
    font-size: 20px;
}

.msgct__imagect{
    margin-right: 5px;
}

.msgct__infoct--name p{
    font-size: 15px;
    color: var(--content);
}

.msgct__infoct__msgct{
    margin-top: 10px;
}
.msgct__morect span{
    color: var(--content);
    margin-right: 5px;
}

.msgct__morect .icon{
    padding: 4px;
    border-radius: 50%;
    
}

.msgct__morect .icon:hover{
    text-shadow: 0 0 0.2em rgb(252, 129, 129), 0 0 0.2em rgb(255, 20, 20),
        0 0 0.2em rgba(255, 24, 24, 0.6);
        animation-name: trashon;
        animation-duration: 0.5s;
    

}

@keyframes trashon {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.msgct__infoct__msgct--msg{
    font-size: 14px;
    color: var(--content);
}


/* ================= SOBRE ================================== */

.aboutct{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
}

.aboutct__imgct{
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-wrapper{
    
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
        box-shadow: 0 2px 18px 0 rgb(0 0 0 / 30%);
}

.aboutct__imgct--img{
    width: 100%;
    height: 100%;
    max-width: 200px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    
}

.aboutct__imgct--img:hover{
    transform: scale(1.1);
}


.aboutct__namect{
    margin-top: 10px;
}

.aboutct__namect--name{
    color: var(--content);
}

.aboutct__functionct--function{
    color: var(--content);
}

.aboutct__abstractct{
    margin-top: 10px;
}

.aboutct__abstractct--abstract{
    text-align: center;
    color: var(--content);
}


















/* =============== Classes tratadas por JAVASCRIPT ============== */
 .js-hide-share{
     opacity: 0;
     visibility: hidden;
 }